button.css-5uatdcg.edgvbvh10{
color:blue;
width:150px;
height:60px;

}

div.css-k7vsyb.e16nr0p31{
text-align:center;
}

button.css-5uatcg.edgvbvh10{
    background-color: black;
    color: white;
    width: 89px;
    height: 40px;
    border-color: grey;
}
